@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background-color: rgba(139, 92, 246, 0.3);
  color: #fff;
}

.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}